Package: silan
Version: 0.3.3-1
Architecture: amd64
Maintainer: Kyle Robbertze <krobbertze@gmail.com>
Installed-Size: 69
Depends: libavcodec54 (>= 6:9.1-1) | libavcodec-extra-54 (>= 6:9.20), libavformat54 (>= 6:9.1-1), libavutil52 (>= 6:9.1-1), libc6 (>= 2.14), libsndfile1 (>= 1.0.20)
Section: sound
Priority: optional
Homepage: https://github.com/x42/silan/
Description: commandline tool to detect silence in audio-files
 Silan is a standalone application to analyze audio files for
 silence and print ranges of detected signals.
 .
 It supports a variety of audio-formats and codecs by making
 use of libsndfile  and ffmpeg/libav for reading audio-data.
 .
 Signal threshold and hold-off time can be freely configured.
 The output can be formatted with samples or seconds as unit
 or printed as audacity label file.
